// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";

/* 動画一覧 */
li.item {
  list-style-type: none;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  position: relative;
  div.thumb-wrap {
    float: left;
    margin-right: 12px;
  }
  div.info-wrap {
    float: left;
    .item-title a {
      font-size: 18px;
    }
  }
  span.timestamp {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #666;
  }
}

/* 個別動画 */
.poster_info {
  .poster_thumb {
    float: left;
    margin-right: 10px;
  }
}

.movie_introduction {
  font-size: 18px;
}
