<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'ReplayBank', root_path, id: 'logo', class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav nav-left">
        <li class="nav-left-users"><%= link_to 'ユーザー', users_path %></li>
        <li class="nav-left-movies"><%= link_to '動画', movies_path %></li>
        <li class="nav-left-help"><%= link_to 'Help', help_path %></li>
      </ul>
    </div>
  </div>
</header>